<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Intweet", root_path, id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Contact Us", "#" %></li>
      <li><%= link_to "Log in", login_path %></li>
    </ul>
  </div>
</header>
<body>
  <script>
    var dataLayer = [];
    dataLayer.push({'IC - Dynamic app ID': 'eaptokw4'});
    dataLayer.push({'User - Account - Type': 'Guest'});
  </script>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W2ZT4D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W2ZT4D');</script>
  <!-- End Google Tag Manager -->
  <div class="container">
    <div class="center jumbotron">
      <h1>Welcome to Intweet</h1>
      <h2>This is the home page for the Intercom demo application.</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
