<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if logged_in? %>
      <script>
        var dataLayer = [];
        dataLayer.push({'IC - Dynamic app ID': 'eaptokw4'});
        dataLayer.push({'User - Account - Type': 'User'});
        dataLayer.push({'User - Account - Email' : "<%= current_user.email %>"}); // email
        dataLayer.push({'User - Account - ID' : "<%= current_user.id %>"}); // user_id. Remove if not using user_id / IDs
        dataLayer.push({'User - Account - Name' : "<%= current_user.name %>"});
        dataLayer.push({'User - Account - Signed up date' : "<%= current_user.created_at.to_i %>"}); // created_at
      </script>
    <% else %>
      <script>
        var dataLayer = [];
        dataLayer.push({'IC - Dynamic app ID': 'eaptokw4'});
        dataLayer.push({'User - Account - Type': 'Guest'});
      </script>
    <% end %>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W2ZT4D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W2ZT4D');</script>
    <!-- End Google Tag Manager -->
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <!-- <% if logged_in? %>
    <script>
      window.intercomSettings = {
        app_id: "<%= ENV['INTERCOM_APP_ID'] %>",
        name: "<%= current_user.name %>",
        email: "<%= current_user.email %>",
        activated: <%= current_user.activated? %>,
        activated_at: <%= current_user.activated_at.to_i %>,
        admin:  <%= current_user.admin? %>,
        micrposts: <%= current_user.microposts.count %>,
        followers: <%= current_user.followers.count %>,
        following: <%= current_user.following.count %>,
        created_at: <%= current_user.created_at.to_i %>
      };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/<%= ENV['INTERCOM_APP_ID'] %>';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <% end %> -->
  </body>
</html>
